<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hoge.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @hoge.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @hoge.phone %>
</p>

<p>
  <strong>Coffee:</strong>
  <%= @hoge.coffee %>
</p>

<%= link_to 'Edit', edit_hoge_path(@hoge) %> |
<%= link_to 'Back', hoges_path %>
